{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-title">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-subtitle">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-slogan">{{ with .Site.Params.hero.slogan }}{{ . | markdownify }}{{ end }}</div>
      {{ range .Site.Params.hero.links }}
      <a href="{{ .link | absURL }}" class="page-scroll btn btn-xl" target="_blank">{{ .text | markdownify }}</a>
      {{ end }}
    </div>
  </div>
</header>
